<div>
  <!-- Shopping cart table -->
  <div class="card">
    <div class="card-header">
      <h2>Convocatorias Favoritas</h2>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered m-0">
          <thead>
            <tr>
              <!-- Set columns width -->
              <th class="text-center py-3 px-4 text__fav" style="min-width: 400px;">Nombre Convocatoria </th>
              <th class="text-right py-3 px-4 text__fav" style="width: 350px;">Descripcion</th>
              <th class="text-center py-3 px-4 text__fav" style="width: 120px;">Cupos Disponibles</th>
              <th class="text-right py-3 px-4 text__fav" style="width: 125px;">Enlace</th>
              <th class="text-right py-3 px-4 text__fav" style="width: 225px;"></th>

            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let convocatoria of convocatorias" class="fila__txt">
              <td style="width: 400px">
                {{convocatoria.nom_convocatoria}}
              </td>
              <td style="width: 350px">
                {{convocatoria.descripcion_conv}}
              </td>
              <td style="width: 120px">
                {{convocatoria.cupos_disponibles}}
              </td>
              <td style="width: 225px">
                {{convocatoria.enlace_conv}}
              </td>
              <td>
                <button class="btn-icon" (click)="eliminarFavorito(convocatoria.id_convocatoria[0])"><button class="btn__link"><i class="fa fa-trash"></i></button></button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>
  </div>