<h1 class="titulo">Nosotros</h1>
<p class="info">
    Se busca la implementación de estrategias eficientes que aseguren la participación de los ciudadanos
    en torno a los procesos formativos y talleres dispuestos para generar bienestar bajo condiciones reales
    y posibles.
    La utilización de un sistema de información que permita una visualización clara, concisa e incluyente
    sobre todos aquellos beneficios ofrecidos por las instituciones gubernamentales y privadas en el que se
    encuentren todos aquellos ítems de interés, es una herramienta indispensable para los contextos sociales,
    dicho sistema se encargará no sólo de recopilar cada dato importante de bienestar social, sino que también
    contará con diferentes mecanismos de divulgación para que la información llegue a cada rincón del área
    metropolitana.
</p>