<div >            
    <app-usuario *ngIf="modificarUsuario" [nit]='mensaje'></app-usuario>
</div>

<div class="event-schedule-area-two bg-color pad100">
    <div class="container">
        
        <!-- row end-->
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="home" role="tabpanel">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="col">NIT</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Apellido</th>
                                        <th scope="col">Correo</th>
                                        <th scope="col">Telefono</th>
                                        <th scope="col">Rol</th>
                                        <th scope="col">Estado</th>
                                        <th class="text-center" scope="col">Accion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="inner-box" *ngFor="let usuario of usuarios">
                                        <th scope="row">
                                            <div class="event-date">
                                                <p>{{usuario.nit}}</p>
                                            </div>
                                        </th>
                                        <td class="fila">
                                            <h3>{{usuario.nombre}}</h3>
                                        </td>
                                        <td class="fila">
                                            <h3>{{usuario.apellido}}</h3>
                                        </td>
                                        <td class="fila">
                                            <h3>{{usuario.correo}}</h3>
                                        </td>
                                        <td class="fila">
                                            <h3>{{usuario.telefono}}</h3>
                                        </td>
                                        <td *ngIf="usuario.id_tipo_rol == 8" class="fila">
                                            <h3> Administrador</h3>

                                        </td>
                                        <td *ngIf="usuario.id_tipo_rol == 9" class="fila">
                                            <h3>Usuario</h3>

                                        </td>
                                        <td *ngIf="usuario.id_estado == 1" class="fila">
                                            <h3>Activo</h3>

                                        </td>
                                        <td *ngIf="usuario.id_estado == 3" class="fila">
                                            <h3>Inactivo</h3>

                                        </td>

                                        <td>
                                            <button type="button" class="btn btn-danger submitbtn"
                                                (click)="eliminarUsuario(usuario.nit)">Eliminar</button>
                                            <br>

                                            <button (click)="actualizarUsuario(usuario.nit)" type="button"
                                                class="btn btn-danger submitbtn">Modificar</button>
                                                
                                                
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <!-- /col end-->
            </div>
            <!-- /row end-->
        </div>
    </div>