<header class="header">
  <div class="logo">
    <a href="index.html">
      <img src="../assets/img/logo convocate.png" alt="Logo Convocate">
    </a>
    
  </div>
  
  <div class="contenedor__boton" *ngIf="usuarioService.loggedIn()">
    <button class="login">
      <a href="login">Iniciar Sesión</a>
    </button>
    
  </div>
  <div class="contenedor__boton" *ngIf="!usuarioService.loggedIn()">
    <button class="login" (click)="usuarioService.logout()">
      <a >Cerrar Sesión</a>
    </button>
    <a class="a" href="favoritos/{{nit}}" *ngIf="usuarioService.esUsuario()"><i class="fa fa-star">Favoritos</i></a>
  </div>
  
  <div class="informacion">
    
    
    <a class="a" href="crearConvocatoria" *ngIf="usuarioService.esAdministrador()">CrearConvocatorias</a>
    <a class="a" href="manejoUsuarios" *ngIf="usuarioService.esAdministrador()">Usuarios</a>
    <a class="a" href="nosotros">Nosotros</a>
    <a class="a" href="convocatorias">Convocatorias</a>
    <a class="a" href="contacto">Contacto</a>

  </div>
</header>
<div class="contenedor">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <p class="footerTxt">Convocate, 2022 - Todos los derechos reservados.</p>
</footer>